@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

:root {
  --primary-bg: #4e95ff;
  --white-bg: #ffffff;
  --secondary-bg: grey;
  --warning-bg: #fcab41;
  --danger-bg: #ff4d5b;
  --success-bg: #92fa4d;

  --primary: #0b4cad;
  --secondary: #41464b;
  --warning: #e78c15;
  --danger: #cc2835ed;
  --success: #62c222;

  --bgdark: #2d323b;

  --myColor: #2bc48a;
  --mygrey: #d3d7e1;
}

html {
  scroll-behavior: smooth;
}

/* * {
  box-sizing: border-box;
} */
.note {
  border: 2px ridge #4d6a7c;
  margin: 0.4rem;
  padding: 0.5rem 0.5rem 0.5rem 0.7rem;
  border-radius: 3px;
}
/* *********  Alerts **********/
.alert {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0.5rem;
  padding: 0.7rem;
  border-radius: 0.25rem;
  border: 1px solid #262928e0;
  color: inherit;
  background-color: transparent;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.alert-btn {
  font-weight: bolder;
  margin: 0 0 0 1em;
  border: none;
  border-radius: 0.1em;
  font-size: smaller;
  padding: 0.3em;
  box-shadow: none;
  cursor: pointer;
  background-color: transparent;
  color: inherit;
}
.alert-mycolor {
  color: white;
  border-color: #27644d;
  background-color: var(--myColor);
}
.alert-primary {
  color: var(--primary);
  border-color: var(--primary);
  background-color: var(--primary-bg);
}
.alert-secondary {
  color: var(--secondary);
  border-color: var(--secondary);
  background-color: var(--secondary-bg);
}
.alert-warning {
  color: var(--warning);
  border-color: var(--warning);
  background-color: var(--warning-bg);
}
.alert-danger {
  color: var(--danger);
  border-color: var(--danger);
  background-color: var(--danger-bg);
}
.alert-success {
  color: var(--success);
  border-color: var(--success);
  background-color: var(--success-bg);
}
/* *********  Avatar **********/
.avtar-container {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}
.avtar-card {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.avatar {
  margin: 0.9rem;
  height: 6.5rem;
  width: 6.5rem;
  border-radius: 0.1rem;
  background-position: center;
  background-size: contain;
}
.avatar-circle {
  margin: 0.9rem;
  height: 6.5rem;
  width: 6.5rem;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
}
.avatar-small {
  margin: 0.9rem;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
}
/* *********  Badge **********/

.badge {
  display: inline-block;
  text-align: center;
  padding: 0.2rem 0.4rem;
  vertical-align: baseline;
  font-size: 0.75rem;
  margin: auto 0.4em;
  border-radius: 0.75rem;
  color: white;
  background-color: var(--myColor);
  border: 1px solid white;
}
.badge-danger {
  background-color: var(--danger-bg);
  border-color: var(--danger-bg);
}
.badge-warning {
  background-color: var(--warning-bg);
  border-color: var(--warning-bg);
}
.badge-primary {
  background-color: var(--primary-bg);
  border-color: var(--primary-bg);
}
.badge-success {
  background-color: var(--success-bg);
  border-color: var(--success-bg);
}
.badge-icon {
  position: relative;
  bottom: 1.8em;
  right: 1em;
  border-radius: 50%;
  margin: 0;
}
/* *********** Button ****************/

.btn {
  margin: 0.2em;
  padding: 0.3rem 0.6rem;
  border: 1px solid;
  background-color: transparent;
  color: #fff;
  border-radius: 0.35rem;
  font-family: inherit;
  outline: none;
  cursor: pointer;
  border: 1px solid rgba(126, 124, 124, 0.637);
  box-shadow: 5px 5px 7px #00000033, -5px -5px 7px #0a0a0a00;
}
.btn:focus {
  border: 1px solid;
}
.btn:active {
  transform: translateY(2px);
  /* transition: all 0.1s ease-in-out; */
}
.btn-secondary {
  background-color: #fff;
  border-color: black;
  color: black;
}
.btn-primary {
  background-color: var(--myColor);
  border-color: var(--primary);
}
.btn-warning {
  background-color: var(--warning-bg);
  border-color: var(--warning);
}
.btn-danger {
  background-color: var(--danger-bg);
  border-color: var(--danger);
}
.btn-success {
  background-color: var(--success-bg);
  border-color: var(--success);
}

.btn-icon {
  border: none;
  font-size: large;
  box-shadow: none;
}

.floating-action-btn {
  height: 1.2rem;
  width: 1.2rem;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  margin: 1rem;
  padding: 0.9rem;
  background-color: var(--warning);
  color: white;
  border-radius: 50%;
  font-family: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
}
/* **********Link************** */

.link {
  text-decoration: none;
  cursor: pointer;
  padding: 0.4rem 0.7rem;
  font-size: small;
  margin: 0.3rem;
  color: var(--myColor);
  border: 1px solid var(--myColor);
  border-radius: 25rem;
}
.link-primary {
  border-color: var(--primary-bg);
  color: var(--primary-bg);
}

.link:hover {
  color: white;
  background-color: var(--myColor);
}

.link-primary:hover {
  background-color: var(--primary-bg);
  color: inherit;
}
.link-warning {
  border-color: var(--warning-bg);
  color: var(--warning-bg);
}
.link-warning:hover {
  background-color: var(--warning-bg);
  color: inherit;
}
/* *************Card************ */
.card {
  position: relative;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid var(--mygrey);
  margin: 0 auto;
  max-width: 17rem;
  border-radius: 7px;
  border-radius: 0.2rem;
  background: #fafafa;
  box-shadow: 5px 5px 10px #d9d8d8, -5px -5px 10px #ffffff;
}

.card .avatar {
  width: 100%;
  height: 13rem;
  margin: 0;
}
.card-text {
  margin: 0 auto;
}
.card-badge {
  position: absolute;
  top: 0.5rem;
  left: 0rem;
  border: none;
}
.wishlist-badge {
  position: absolute;
  top: 0.9 em;
  right: 0.9em;
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  border-radius: 50%;
  background-color: #e0e0e2e7;
}
.wishlist-btn {
  border: none;
  outline-color: var(--mygrey);
  padding: 1em;
  color: var(--myColor);
}

.dismiss-badge {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 1em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  font-weight: bold;
  border-radius: 0.75rem;
  background-color: var(--myColor);
}
.dismiss-btn {
  border: none;
  outline-color: var(--mygrey);
  padding: 0.8em;
  color: white;
}

.dismiss-badge:hover {
  cursor: pointer;
  border-color: var(--danger-bg);
}

.card-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: none;
  transition: 0.5s ease;
  background: rgba(18, 15, 15, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 0.2rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.overlay-text {
  padding: 2rem;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card:hover .card-overlay {
  opacity: 1;
}
.horizontal-card {
  min-width: 70%;
  border-radius: 4px;
  box-shadow: 5px 5px 10px #c1c1c1, -5px -5px 10px #ffffff;
}

.card-with-shadow {
  border-radius: 8px;
  background: linear-gradient(145deg, #ffffff, #e1e1e1);
  box-shadow: 5px 5px 10px #c1c1c1, -5px -5px 10px #ffffff;
}

.image-responsive {
  width: 100%;
  height: auto;
  background-position: center;
}
.round-image {
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  background-position: center;
}

/* ********************input********************************* */
.input-group {
  display: flex;
  flex-direction: column;
}
.input-label {
  margin-bottom: 0.3em;
}
.input {
  font-size: 1rem;
  padding: 0.3rem;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.911);
  font-family: inherit;
  outline: none;
  box-shadow: none;
  border: 1px ridge #4fe7ad;
  border-radius: 0.25rem;
}
.input-sm {
  width: 25%;
}
.input-md {
  width: 50%;
}
.input-lg {
  width: 90%;
}
.input:focus {
  border-bottom: 2px ridge var(--myColor);
}

.line-input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px ridge #11f79f86;
  border-radius: 0;
}
.line-input:focus {
  border-bottom: 2px ridge var(--myColor);
}
.required:focus {
  border-color: auto;
}
.validation-msg-required {
  font-size: small;
  color: var(--danger);
  margin-top: 0.1em;
}
.validation-msg-ok {
  font-size: small;
  color: var(--primary);
  margin-top: 0.1em;
}
.validation-msg-good {
  font-size: small;
  color: var(--success);
  margin-top: 0.1em;
}

/* ***********************Lists************************* */
.inline-list {
  padding: 0;
}
.inline-list-item {
  display: inline;
  margin: 0.3em;
  padding: 0.5em;
  border-radius: 0.2em;
}
.inline-list-item:hover {
  background-color: #51535859;
  background-color: var(--mygrey);
}

.list {
  list-style-type: none;
}
.list-item {
  margin: 0.7em;
  padding: 1em;
  border-radius: 0.1em;
  border: 1px solid var(--mygrey);
  border-radius: 3px;
}
.list-item:hover {
  background-color: #ebebec91;
}
.stacked-list {
  padding: 0;
  list-style-type: none;
}
.stacked-list-item {
  margin: 0.8em 0.4em 0.8em 0.4em;
  padding: 0.9em;
  border-radius: 0.3em;
  border: 1px solid var(--mygrey);
  background: linear-gradient(145deg, #ffffff, #e1e1e1);
  box-shadow: 5px 5px 10px #c1c1c1, -5px -5px 10px #ffffff;
}
.stacked-list-item:hover {
  cursor: pointer;
  background-color: #ebebec9f;
  border: 1px solid var(--myColor);
}

/* ***************Navabar************* */
.navbar {
  display: flex;
  align-items: center;
  padding: 0.4em 1em;
  border-radius: 1px;
  margin-bottom: 2.5rem;
  color: #fff;
  backdrop-filter: blur(20px);
  background-color: var(--myColor);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 22%);
}

.nav-brand {
  display: flex;
  align-items: center;
}
.nav-brand-heading {
  margin-right: 1em;
}
.brand-img {
  height: 2rem;
  width: 2rem;
  margin: 0 1em;
}
.nav-item {
  font-size: small;
  display: inline-block;
  padding: 0.5em;
  margin: 0.2em;
}
.nav-item:hover {
  background-color: #10f59d18;
}
.navbar-right {
  justify-content: space-between;
}
.navbar-left {
  justify-content: flex-start;
}
.navbar-center {
  justify-content: center;
}

/* ************************Modal*************************************** */

.modal {
  position: relative;
  padding: 2rem 1rem;
  border: 1px solid var(--myColor);
  border-radius: 0.35em;
  border-radius: 8px;
  background: linear-gradient(145deg, #ffffff, #e1e1e1);
  box-shadow: 5px 5px 20px #f5f5f5, -5px -5px 20px #ffffff;
}
.modal-btn {
  font-size: small;
  font-weight: bold;
  border: 1px solid var(--myColor);
  color: #262928e0;
  margin: 1em;
  position: absolute;
  right: 0.3em;
  top: -0.2em;
  display: inline-block;
}

/* *******************Toast******************** */
.toast-container {
  position: relative;
}
.toast {
  padding: 0.8em;
  font-size: smaller;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  position: fixed;
  bottom: 2em;
  right: 2em;
  border: 1px solid var(--myColor);
  color: #fff;
  border-radius: 0.3em;
  background-color: var(--myColor);
  box-shadow: 5px 5px 20px #f5f5f5, -5px -5px 20px #ffffff;
}
.toast-btn {
  font-weight: bolder;
  margin: 0 0 0 1em;
  border: none;
  border-radius: 0.1em;
  font-size: smaller;
  padding: 0.3em;
  box-shadow: none;
  color: inherit;
}
.toast-btn:active {
  transform: scale3d(1.2, 1.2, 1.2);
}
/* ****************Rating****************** */
.rating {
  display: inline-block;
  text-align: center;
  padding: 0.2rem 0.3rem;
  font-size: x-small;
  margin: auto 0.4em;
  border-radius: 0.2rem;
  color: white;
  background-color: var(--myColor);
  border: 1px solid white;
  font-weight: bold;
}
.rating i {
  color: #fff;
  margin-left: 0.3em;
}
.rating p {
  color: #262928e0;
}
.toast p {
  margin: 0;
}

.btn-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  bottom: 1rem;
  right: 2.1rem;
  z-index: 1;
  border: none;
  cursor: pointer;
  outline: none;
  background: transparent;
}
.btn-logo img {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
