@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  padding: 0;
  background-color: #2d323b;
  /* background-color: white; */
  font-family: "Rubik", sans-serif;
  color: white;
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.sidenav {
  background-color: #2d323b;
  position: fixed;
  width: 18rem;
  height: 100vh;
  overflow-y: scroll;
  border-right: 2px solid #5c6577;
}
.header-brand {
  /* font-size: xxx-large; */
  padding: 1.3rem;
  background-color: #5c6577;
}
.main {
  margin-top: 4rem;
  padding: 2rem;
  margin-left: 18rem;
}
.mid-container {
  display: flex;
}
.mid-container .nav {
  width: 15rem;
  height: 100vh;
}
.mid-container .main {
  width: 100%;
  height: 100vh;
}
.btn-toggle {
  display: none;
}

/* ******************************** copied from last version************************************************/

.component-container {
  margin: 0 auto;
  padding: 0.5rem auto;
}
.component-name {
  margin-left: 2.3rem;
}
.component-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 5rem;
}
.sidenav ul {
  padding: 0.3rem;
}

.sidenav ul > li {
  margin: 0.4rem;
  padding: 0.5rem 0.5rem 0.5rem 0.7rem;
}
.sidenav ul li > a {
  display: block;
  min-width: 100%;
  text-decoration: none;
  color: inherit;
}
/* ************Hover */

.sidenav ul > li:hover {
  background-color: #525458c0;
  border-radius: 3px;
}
.component {
  margin: 0 auto;
  list-style-type: none;
  padding: 2rem;
  border-radius: 5px;
  margin: 0.5rem auto;
  max-width: 42rem;
  background-color: #323335a6;
  box-shadow: 0 8px 32px 0 rgba(59, 59, 59, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border: 2px solid rgba(255, 255, 255, 0.082);
  background-color: transparent;
}

.hljs {
  position: relative;
  font-family: "Source Code Pro", monospace;
  display: block;
  /* overflow-x: auto; */
  padding: 1em 0.5em;
  background: transparent;
  color: #f3cb5e;
  border-radius: 5px;
  line-height: 0.8;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.082);
  box-shadow: 4px 6px 3px #292e36, -4px -3px 4px #313640;
}
.btn-copy {
  position: fixed;
  top: 1em;
  right: 1em;
}
/* ***************** Media Mobile ************************* */

@media only screen and (max-width: 420px) {
  body {
    background-color: #2d323b;
  }
  .btn-toggle {
    margin: 0;
    padding: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.3rem;
    border-radius: 50%;
    bottom: 1rem;
    right: 2.1rem;
    z-index: 1;
    border: none;
    cursor: pointer;
    outline: none;
    background: #2d323b;
    box-shadow: 4px 6px 3px #292e36, -4px -3px 4px #313640;
    /* background-color: transparent; */
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); */
  }
  .btn-toggle:active {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .btn-toggle .img-btn {
    width: 2rem;
    height: 2rem;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
  }
  @-moz-keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .sidenav {
    overflow-y: scroll;
    margin-left: -289px;
    transition: ease-in-out 500ms;
    height: 100%;
    background: rgba(45, 50, 59, 1);
    box-shadow: 0 8px 10px 0 rgba(53, 186, 226, 0.37);
    /* backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); */
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 1;
  }
  .main {
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 5rem;
  }
  .active {
    transition: ease-in-out 400ms;
    margin-left: 0px;
    height: 100%;
    z-index: 1;
  }
}
