@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --myColor: #2bc48a;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #262928e0;
  background-color: #fffe;
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.sidenav {
  position: fixed;
  width: 18rem;
  height: 100vh;
  overflow-y: scroll;
  border-right: 2px solid #d3d7e1;
  background-color: white;
}
.header-brand {
  padding: 1.3rem;
  background-color: white;
}
.main {
  margin-top: 4rem;
  padding: 2rem;
  margin-left: 18rem;
}
.mid-container {
  display: flex;
}
.mid-container .nav {
  width: 15rem;
  height: 100vh;
}
.mid-container .main {
  width: 100%;
  height: 100vh;
}
.btn-toggle {
  display: none;
}

.component-container {
  margin: 0 auto;
  padding: 0.5rem auto;
}
.component-name {
  margin-left: 2.3rem;
}
.component-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 5rem;
}
.sidenav ul {
  padding: 0.3rem;
}

.sidenav ul > li {
  margin: 0.4rem;
  padding: 0.5rem 0.5rem 0.5rem 0.7rem;
}
.sidenav ul li > a {
  display: block;
  min-width: 100%;
  text-decoration: none;
  color: inherit;
}

.sidenav ul > li:hover {
  background-color: var(--myColor);
  color: white;
  border-radius: 3px;
}
.component {
  margin: 0 auto;
  list-style-type: none;
  padding: 2rem;
  border-radius: 5px;
  margin: 0.5rem auto;
  max-width: 42rem;
  background-color: transparent;
  border: 1px solid var(--myColor);
}

.hljs {
  position: relative;
  font-family: "Source Code Pro", monospace;
  display: block;
  padding: 0.9rem 0.1rem;
  background-color: #002b36;
  color: #ecc48d;
  font-family: "Rubik", sans-serif;
  border-radius: 5px;
  line-height: 0.8;
  text-align: left;
  border: 1px solid rgb(180 176 176 / 71%);
}
.hljs-string {
  color: var(--myColor);
}
.hljs-name,
.hljs-attr {
  color: orange;
}
.social-links {
  text-align: right;
  position: absolute;
  top: 1rem;
  right: 7rem;
  padding: 0.5em 1rem;
}
.social-links a {
  font-size: large;
  color: var(--myColor);
}

.btn-copy {
  position: fixed;
  top: 1em;
  right: 1em;
}
/* ********Scrollbar********** */

::-webkit-scrollbar {
  width: 0.9rem;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: var(--mygrey);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--myColor);
}
/* ***************** Media Mobile ************************* */

@media only screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
    background-color: #fff;
    color: #262928e0;
  }
  .btn-toggle {
    margin: 0;
    padding: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    bottom: 1rem;
    right: 2rem;
    z-index: 1;
    border: none;
    cursor: pointer;
    outline: none;
    background: #002b36;
  }
  .social-links {
    right: -1rem;
  }
  .img-btn {
    width: 3rem;
    height: 3rem;
  }

  .sidenav {
    margin-left: -289px;
    transition: ease-in-out 500ms;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 8px 10px 0 rgba(53, 186, 226, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 1;
  }
  .main {
    width: 100vw;
    margin: 0 auto;
    padding-bottom: 5rem;
  }
  .active {
    transition: ease-in-out 400ms;
    margin-left: 0px;
    height: 100%;
    z-index: 1;
    background: rgba(189, 181, 181, 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }
}
